@font-face {
    font-family: "MyCustomFont";
    src: url("../assets/custom-Font/GoldropspersonaluseRegular-9Ynn5.otf")
      format("truetype");
  }

.container{
    margin: 50px 0px;
}
.char-image{
    border-radius: 25px;
    box-shadow: -4px -4px 5px #ffffff,4px 4px 5px #ffffff;
    padding: 15px;
}
.img-fluid{
    border-radius: 20px;
    --frownface: #ccc;
    --scrollbarTrack: #090d10;
}
.char-details{
    padding: 10px 25px 0px 25px;

}
.char-name{
    font-family: MyCustomFont;
    font-size: 5rem;
}
.char-bio{
    padding: 10px 25px 0px 25px;
    font-size: 2.25rem;
    font-weight: 700;
}
.Bio-heading{
    font-size: 2rem;
    font-weight: 600;
}
.chat-about{
    color: yellow;
    font-size: 1.75rem;
    font-weight: 600;
}

.col-md-4, .col-md-5, .col-md-3 {
    align-self: center;
    margin-bottom: 40px;
}
.top-heading{
    text-decoration: underline  #fff !important;
}