@font-face {
    font-family: "MyCustomFont";
    src: url("../assets/custom-Font/GoldropspersonaluseRegular-9Ynn5.otf")
      format("truetype");
  }

  .power-heading{
    font-family: MyCustomFont;
    color: #fff;
    font-size: 4rem;
  }
  .container{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  .power-stats-circle{
    width: 160px;
    height: auto;
    padding: 20px;
    border-radius: 35px;
    box-shadow: rgb(188, 189, 190) 0px 5px 10px 5px;
  }
  .Strength{
    font-size: 1.25rem;
    font-weight: 800;
    font-style: italic;
  }

  .CircularProgressbar-text{
    font-weight: 700;;
  }
